body {
  background: lightgray;
}

.app-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.movie-title {
  font-size: calc(50px + 2vmin);
  color: black;
  text-align: center;
}

.movie-subtext {
  text-align: center;
}

.summary-header {
  font-size: calc(20px + 2vmin);
  text-align: center;
}

.summary {
  margin-left: 50px;
  margin-right: 50px;
}

.autocomplete {
  text-align: center;
}

.autocomplete input {
  width: 200px;
  height: 30px;
  font-size:30px;
}
